html {
  background-color: #252831;
}

body,
td,
th,
p {
	font-family: Arial, Helvetica, sans-serif;
	color: #333;
	line-height: 1.5;
}

body {
  background-color: #f0f5fa;
	margin: 0;
  position: relative;
}

ul,
li {
	font-size: 10pt;
	color: #333;
}

a {
	color: orange;
	text-decoration: none;
}

a:hover, 
a:focus {
	color: #3397db;
	text-decoration: none;
}

a img {
	border: none 0px #fff;
}

h1 {
  margin: 0 0 20px;
}

.main-header,
.header-inside {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

#main-content {
  background-color: #f3f3f3;
  min-height: 100%;
  box-sizing: border-box;
}

#footer {
  color: #aaa;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
  background: linear-gradient(#444, #252831);
}


/* ====================== Navigation ====================== */
.header {
  width: 100%;
  height: 80px;
  background-color: #252831;
  text-align: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-content: center;
  position: relative;
}

.header h1 {
  margin: auto;
}

.header h1 a {
  color: #fff;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
  transition: font-size 0.8s;
}

.header a:hover, 
.header a:focus {
	color: #3397db;
	text-decoration: none;
}

#breadcrumb {
  padding: 10px 40px 16px;
  list-style: none;
  background: linear-gradient(#bdcdde, #f0f5fa);
  font-size: 17px;
  margin: 0;
  width: calc(50% - 80px);
  height: 20px;
  position: relative;
}

#breadcrumb-ul {
  margin: 0;
  position: relative;
  padding-top: 3px;
}

#breadcrumb li {
  display: inline;
  transition: font-size 0.8s;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

#breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}

#breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}


/* ====================== Map ====================== */
#map {
  height: 450px;
  width: 100%;
  background-color: #aadbff;
  position: relative;
}

.hero-map {
  top: 80px;
  height: 8%;
  position: relative;
  box-sizing: border-box;
  display: block;
  z-index: 1;
}

/* ====================== Restaurant Filtering ====================== */
.filter-options {
  width: 100%;
  height: 120px;
  background-color: #50a7e0;
  background: linear-gradient(#aadbff, #f0f5fa);
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 80px;
  box-sizing: border-box;
  margin-bottom: 80px;
}

.filter-header {
  color: #0b111a;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1;
  margin: 0 20px;
}

#neighborhoods-select,
#cuisines-select {
  background-color: #f0f5fa;
  border: 0.5px solid #7eaff9;
  cursor: pointer;
  font-family: Arial, sans-serif;
  font-size: 11pt;
  text-align: center;
  height: 35px;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 10px;
  width: 170px;
}


/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  background-color: #f0f5fa;
  list-style: outside none none;
  margin: 0;
  padding: 30px 15px 60px;
  text-align: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  box-sizing: border-box;
}

#restaurants-list li {
  width: 240px;
  min-width: 240px;
  min-height: 350px;
  background-color: #fff;
  border: 1px solid rgb(213, 228, 248);
  border-radius: 4px;
  font-family: Arial,sans-serif;
  padding: 0 30px 30px;
  margin: 15px 15px 35px;
  text-align: left;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: space-between;
  box-shadow: 5px 5px 25px 0 rgba(46,61,73,.2);
  transition: box-shadow .2s ease-in-out;
}

#restaurants-list li:hover {
  box-shadow: 2px 4px 8px 0 rgba(46,61,73,.2)
}

#restaurants-list .restaurant-img {
  background-color: #ccc;
  border-radius: 3px;
  display: block;
  margin: 25px 0 20px;
  max-width: 100%;
  min-width: 100%;
  height: 180px;
  box-shadow: 2px 2px 10px 0 #2e3c4933;
}

#restaurants-list li h1 {
  color: #b24d04;
  font-family: Arial,sans-serif;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 10px 0 10px;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
}

#restaurants-list p {
  margin: 0;
  font-size: 11pt;
}

#restaurants-list li p:nth-last-of-type(1) {
  font-size: 0.8rem;
}

#restaurants-list li a {
  background-color: #b24d04;
  color: #fff;
  border-radius: 6px;
  display: inline-block;
  font-size: 10pt;
  margin: 15px 0 0;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: box-shadow .2s ease-in-out;
}

#restaurants-list li a:hover,
#restaurants-list li a:focus {
  background-color: #3397db;
  cursor: pointer;
}


/* ====================== Restaurant Details ====================== */
/* .container {
  display: flex;
  flex-flow: column nowrap;
} */

.skip-link {
  position: absolute;
  left: 0;
  top: -100px;
  background: #212121;
  color: #c3dbf9;
  padding: 10px;
  z-index: 20000;
}

.skip-link:focus {
  top: 0;
  
  /* transition: top 2s; */
}

#main-content-inside {
  width: 50%;
  height: 100%;
  top: 120px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  position: relative;
}

.inside #map-container {
  background: #f0f5fa none repeat scroll 0 0;
  position: fixed;
  width: 50%;
  height: 100%;
  right: 0;
  top: 80px;
  order: 3;
  transition: height 0.8s;
}

.inside #map {
  height: 92%;
}

.inside #footer {
  position: relative;
  width: 100%;
  box-sizing: border-box;
}

#restaurant-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  padding-bottom: 70px;
  width: 100%;
  background-color: #f0f5fa;
  height: 100%;
}

#restaurant-img {
  width: 90%;
  max-height: 100%;
  position: relative;
}

#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
  width: 90%;
}

#restaurant-name {
  color: #b24d04;
  font-size: 20pt;
  font-weight: 200;
  letter-spacing: 0;
  margin: 20px 0 35px;
  text-transform: uppercase;
  line-height: 1.1;
}

#restaurant-address {
  font-size: 12pt;
  margin: 15px 0px 25px;
}

#reviews-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  padding-bottom: 30px;
  width: 100%;
  background-color: #f0f5fa;
  height: 100%;
}

#reviews-container h2 {
  color: #b24d04;
  font-size: 24pt;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
  margin-bottom: 30px;
}

#reviews-list {
  margin: 0;
  padding: 0;
}

#reviews-list li {
  background-color: #fff;
  box-shadow: 2px 4px 8px 0 rgba(46,61,73,.2);
  list-style-type: none;
  overflow: hidden;
  width: 65%;
  box-sizing: content-box;
  margin: 0 auto 40px;
  border-radius: 15px 15px 0 15px;
  min-width: 280px;
}

.review-header {
  background-color: #333;
  padding: 20px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  margin: 0;
  height: 20px;
}

.review-header p {
  color: #f3f3f3;
  margin: 0;
  align-self: center;
  font-size: 1rem;
}

.review-header p:nth-child(1) {
  color: #fff;
  margin: 0;
  font-size: 1.2rem;
}

.review-header p:nth-child(2) {
  float: right;
  color: rgb(210, 208, 208);
  margin: 0;
}

.rating {
  color: #fff;
  background-color: #b24d04;
  border-radius: 4px;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 5px;
  width: 110px;
  text-align: center;
  box-sizing: border-box;
  margin: 20px;
} 

.comments {
  margin: 20px;
}

#restaurant-hours td {
  color: #665;
  border-bottom: 1px solid #959cb1;
}


/* ====================== Media Queries ====================== */
@media screen and (max-width: 520px) {
  
  .header h1 {
    padding: 10px;
  }

  .main-header {
    margin: auto;
    position: fixed;
  }

  .filter-options {
    flex-flow: column nowrap;
    padding-top: 40px;
    height: 100%;
  }

  .header {
    line-height: 0.7;
  }

  .header h1 a {
    font-size: 0.9rem;
    line-height: 1;
  }

  #breadcrumb {
    width: 100%;
    padding-left: 0;
  }

  #breadcrumb-ul {
    padding-left: 16px;
  }

  #breadcrumb li {
    font-size: 0.7rem;
  }

  #main-content-inside {
    width: 100%;
  }

  #restaurant-container {
    padding-bottom: 35px;
  }

  #restaurant-cuisine {
    font-size: 0.6rem;
    letter-spacing: 3.5px;
  }

  #restaurant-name {
    font-size: 1.25rem;
  }

  #restaurant-address {
    font-size: 0.9rem;
  }

  #restaurant-hours {
    font-size: 0.7rem;
  }

  .inside #map-container {
    width: 100%;
    height: 300px;
    position: static;
    order: -1;
    top: 100px;
    left: 0;
  }

  #restaurant-name {
    order: -1;
  }

  #reviews-container h2 {
    font-size: 1.5rem;
  }

  .review-header {
    height: 12px;
  }

  .review-header p:nth-child(1) {
    font-size: 1.1rem;
  }

  .review-header p:nth-child(2) {
    font-size: 0.9rem;
  }

  .rating {
    font-size: 0.7rem;
    width: 100px;
  }

  #footer {
    font-size: 4.9pt;
    letter-spacing: 0.6px;
  }
}


@media screen and (min-width: 521px) and (max-width: 768px) {

  #breadcrumb {
    width: 100%;
    padding-left: 16px;
  }

  #breadcrumb li {
    font-size: 0.8rem;
  }

  #breadcrumb-ul {
    padding-left: 16px;
  }

  #main-content-inside {
    width: 100%;
  }

  .inside #map-container {
    width: 100%;
    height: 400px;
    position: static;
    order: -1;
    top: 100px;
    left: 0;
    transition: height 0.8s;
  }

  #restaurant-name {
    order: -1;
  }
}


@media screen and (min-width: 769px) and (max-width: 1030px) {

  #breadcrumb {
    width: 100%;
    padding-left: 16px;
  }

  #breadcrumb li {
    font-size: 0.8rem;
  }

  #main-content-inside {
    width: 100%;
  }

  .inside #map-container {
    width: 100%;
    height: 500px;
    position: static;
    order: -1;
    top: 100px;
    left: 0;
    transition: height 0.5s;
  }

  #restaurant-name {
    order: -1;
  }
}